<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= current_page.seo_title %> | Job Board Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= current_page.description %>" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Organization",
        "name": "Job Boardly",
        "legalName": "Sourced Partner, LLC.",
        "description": "Job board software",
        "logo": "<%= asset_url "logo.png" %>",
        "url": "https://www.jobboardly.com",
        "email": "hello@jobboardly.com"
      }
    </script>
    <% if content_for?(:structured_data) %>
    <script type="application/ld+json">
      <%= yield :structured_data %>
    </script>
    <% end %>

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= current_account.content(:custom_code).try(:html_safe) %>

    <% if Rails.env.local? %>
      <script>window.REVGEMS_CONFIG = { testMode: true };</script>
    <% end %>
    <script>(function(w,r){w._rg=r;if(typeof w[r]==='undefined'){w[r]=function(){w[r].q.push(Array.prototype.slice.call(arguments));w.localStorage.setItem(r,JSON.stringify(w[r].q));};w[r].q=JSON.parse(w.localStorage.getItem(r)||'[]');;w[r]('scriptLoad',{title:document.title,referrer_url:document.referrer,url:w.location.href,timestamp:new Date().getTime()})}})(window,'revgems')</script>
    <script src="//rvgms.io/?api-key=en20o3dk4sfn" async></script>
    <script>
      document.addEventListener("turbo:visit", (event) => {
        revgems("pageView", {
          url: event.detail.url,
          referrer: document.location.href
        })
      })
    </script>
  </head>
  <body>
    <div class="bg-white">
      <%= render "default/shared/banner" %>
      <%= render "default/shared/navigation" %>
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer class="bg-white">
      <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 lg:px-8">
        <%= Spina::MenuPresenter.new(Spina::Navigation.find_by(name: "footer")).tap { |presenter|
              presenter.list_css = "-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
              presenter.list_item_css = "pb-6"
              presenter.link_tag_css = "text-sm leading-6 text-gray-600 hover:text-gray-900"
            }.to_html %>
        <div class="mt-10 flex justify-center space-x-10">
          <a href="https://www.linkedin.com/company/job-boardly" class="text-gray-400 hover:text-gray-500" target="_blank">
            <span class="sr-only">LinkedIn</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 w-6" height="16" width="14" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
          </a>
          <a href="https://twitter.com/job_boardly" class="text-gray-400 hover:text-gray-500" target="_blank">
            <span class="sr-only">X (Twitter)</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" height="16" width="16" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
          </a>
          <a href="mailto:hello@jobboardly.com" class="text-gray-400 hover:text-gray-500" target="_blank">
            <span class="sr-only">Email</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" height="16" width="16" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
          </a>
        </div>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; <%= Date.today.year %> Sourced Partner, LLC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
