<!DOCTYPE html>
<html>
  <head>
    <title><%= current_spina_account.name %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= current_account.content(:custom_code).try(:html_safe) %>
  </head>
  <body>
    <div class="bg-white">
      <%= render "default/shared/banner" %>
      <%= render "default/shared/navigation" %>
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer class="bg-white">
      <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 lg:px-8">
        <%= Spina::MenuPresenter.new(Spina::Navigation.find_by(name: "footer")).tap { |presenter|
              presenter.list_css = "-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
              presenter.list_item_css = "pb-6"
              presenter.link_tag_css = "text-sm leading-6 text-gray-600 hover:text-gray-900"
            }.to_html %>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; <%= Date.today.year %> Sourced Partner, LLC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
