<% content_for :structured_data do %>
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
    "author": {
      "@type": "Person",
      "name": "Kyle Davidson",
      "jobTitle": "Co-founder",
    },
    "dateModified": "<%= current_page.updated_at.strftime("%Y-%m-%d") %>",
    "headline": "<%= current_page.title %>",
  }
<% end %>

<div class="bg-white px-6 pt-20 lg:px-8 text-left">
  <div class="mx-auto max-w-4xl text-base leading-7 text-gray-700">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= current_page.title %></h1>
    <p class="mt-2 text-lg text-gray-600"><%= post_published_at(current_page) %></p>
    <div class="relative flex flex-col gap-2 mt-6">
      <%= image_tag "kyle.jpg", class: "h-10 w-10 rounded-full bg-gray-50" %>
      <p class="leading-5 font-semibold text-gray-900">Kyle Davidson</p>
    </div>
    <div
      class="prose mt-8 max-w-none"
      x-data="{
        init() {
          $el.querySelectorAll('a').forEach((link) => {
            if (link.host !== window.location.host) link.target = '_blank'
          })
        }
      }">
      <%= content.html(:content) %>
    </div>
  </div>
</div>

<%= render "default/shared/cta" %>

<div class="mx-auto max-w-5xl">
  <h3 class="text-xl font-bold tracking-tight text-gray-900 text-center">Related posts</h3>
  <div class="mt-8 grid grid-cols-1 gap-x-8 gap-y-16 mb-24 lg:mx-0 lg:grid-cols-2">
    <%= render partial: "default/shared/post", collection: related_posts %>
  </div>
</div>
